/* Some different font imports */

@import url('https://fonts.googleapis.com/css?family=Crete Round');
@import url('https://fonts.googleapis.com/css?family=Fugaz One');


/*
* {
	transition: all .85s ease;
	color:black; powderblue,darkmagenta is nice
	background-color:powderblue; 
}*/

:root {
	/*powderblue,darkmagenta,darkslategrey is nice*/

	/* 
	Accent colors.
	To use, say rgba(var(--a-[your choice]), [opacity]).
	I did the colors this way so that I could customize the opacity with ease.
	*/
	--a-b: 68, 69, 69; /* BAR | dark grey */
	--a-1: 62, 21, 33; /* X | Dark red */
	--a-2: 33, 131, 128; /* H2 | turquoise */
	--a-3: 28, 37, 65;  /* BACKGROUND | Dark Blue */
	/* --a-4: rgba(206, 171, 177, 1); /* dusty rose */
	--a-4: 214, 104, 83; /* H1&BAR | burnt sienna */
	--a-5: 201, 201, 201; /* transparent bg color | neutral grey blue */
	--a-6: 197, 224, 216;	/* HOVER | cool mint */
	--a-7: 181, 255, 233; /* ACTIVE | mint */
	--a-w: 255, 255, 255; /* TEXT | pure white */
	--a-l: 97, 155, 138; /* dark mint green */
}



body {
	/*padding-left: 11em;*/
	/*font-size: 16px;*/
	/*margin-left: 10px;*/
	/*font-size: 2vh; /*PROBLEM: based on window size; looks awful. https://stackoverflow.com/questions/16056591/font-scaling-based-on-width-of-container */
	margin: 0;
	/*padding: 1em;*/
	font-size: 1em;
	color: rgba(var(--a-w), 1); 
	background-color: rgba(var(--a-3), 1);
	font-family: 'Crete Round';
}

h1 {
	margin-top: 1em;
	font-size: 1.8em;
 	color: rgba(var(--a-4), 1); 
 	font-family: 'Fugaz One';
}

h2 {
	font-size: 1.5em;
 	color: rgba(var(--a-2), 1); 
 	font-family: 'Fugaz One';
}

h3 {
	font-size: 1.4em;
 	/*color: rgba(var(--a-2), 1); */
 	font-family: 'Fugaz One';
}

p {
	font-size: 1em;
}

div.static {
  position: static;
}

/*ONLY HERE AS I FIX THIS*/
#nav-placeholder {
	padding: 10px 16px; 
}



/*
	Different stylings used for content.
*/
/*.pg-content {
	overflow: scroll;
}
*/
.rel {
	position: relative;
}

.my-centered {
  position: absolute;
  text-align: center;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*
   TODO: fix this by setting title in html.
   that title corresponds to color.
   use js, yes?
*/
.item-accent-bg {
	margin-top: 1em;
	background: rgba(var(--a-5), 0.3);
	/*padding-top: 0.5em;*/
	padding-bottom: 1em;
}

.item-accent-bg-2 {
	margin-top: 1em;
	background: rgba(var(--a-6), 0.4);
	/*padding-top: 0.5em;*/
	padding-bottom: 1em;
}

.item-accent-bg-3 {
	margin-top: 1em;
	background: rgba(var(--a-7), 0.4);
	/*padding-top: 0.5em;*/
	padding-bottom: 1em;
}

.item-accent-bg-4 {
	margin-top: 1em;
	background: rgba(var(--a-4), 0.4);
	/*padding-top: 0.5em;*/
	padding-bottom: 1em;
}

.item-accent-bg-5 {
	margin-top: 1em;
	background: rgba(var(--a-l), 0.3);
	/*padding-top: 0.5em;*/
	padding-bottom: 1em;
}
/* --------------------- */

.auto-margin {
	margin: auto;
}

.centered-content {
  max-width: 500px;
  margin: auto;
}

.justified {
	text-align: justify;
}

.centered-vertically {
	/*vertical-align: middle;*/
	height: auto;
}

/*
	TODO: fix redundancy in flex containers
	(img and tile)
*/ 
.flex-con {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.tile__wrap {
	height: 350px;
	width: 350px;
	margin: 1em;
	position: relative;
	/*overflow: scroll;*/
}

.tile__description_layer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 1.5em;
	transition: padding-top 0.5s;

	-webkit-align-items: center;
	align-items: center;

	-webkit-justify-content: center;
	justify-content: center;
}

.tile__description_layer:hover {
	padding-top: 0.75em;
}

.img__wrap { 
  /*max-width: 200px;
  max-height: 200px;*/
  height: 400px;
  margin: 10px;
  position: relative;
  /*height: 100%;*/
  /*text-align: center;*/
  /*line-height: 75px;*/
  /*font-size: 30px;*/
}

.img__description_layer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 1.5em;
	padding-right: 1.5em;
	visibility: hidden;
	opacity: 0;
	display: flex;
	background: rgba(var(--a-4), 0.8); 
	color: rgba(var(--a-w), 1); 
	margin: auto;
	transition: opacity .5s, visibility .5s;
	transition-timing-function: ease-in-out;

	-webkit-align-items: center;
	align-items: center;

	-webkit-justify-content: center;
	justify-content: center;
}

.img__wrap:hover .img__description_layer{
	visibility: visible;
	opacity: 1;
}

/*.img__description {
	transition: transform .5s;
	transition-timing-function: ease;
	transform: translateY(1em);
}

.img__wrap:hover .img_description {
	transition: transform .5s;
	transform: translateY(0);
}*/


.bg-pic {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 50%;
  max-height: 150px;
}
/*
.img-right {
	float: right; 
	padding: 1em;
	height: 100%;
}
*/
.simple_link:link, .simple_link:visited{
	color: rgba(var(--a-l), 1); 
}

.simple_link:hover {
	color: rgba(var(--a-6), 1); 
}

.simple_link:active {
	color: rgba(var(--a-7), 1); 
}


/* Only for edition purposes so I can see where all the divs are */
.editing_border {
	border: 3px solid green;
}

/* TODO: had to do a specific fix for a header in About Me page; */
#h2_in_imgs {
	padding-top: 3em;
}


/** 
	A simple bullet list with custom image. 

Previously, my inspiration was:
http://css-workshop.com/css-ul-custom-bullet-style-with-image/

But then I found unicode and nothing matters lol
*/
.simple-list {
	list-style: none;
}

.simple-list li {
	padding-left: 1em;
}

.simple-list li:before {
	content: "\2022"; /* in case browsers do not support my preferred bullet */
	content: "\26E6";
	color: rgba(var(--a-7), 1); 
	display: inline-block;
	width: 2em;
	margin-left: -1em;
}

.simple-list ul {
	margin-left: -2em;
	list-style: none;
}

.simple-list ul li:before {
	content: "\25E6"; /* in case browsers do not support my preferred bullet */
	content: "\FE44";
	color: rgba(var(--a-7), 1); 
	display: inline-block;
	width: 2em;
	margin-left: -1em;
}





/*
	Navigation bar
*/
.navbar__list {
	list-style-type: none;
	padding: 1em;
	top: 1em; 
	left: 1em;
	bottom: 2em; 
	font-family: 'Fugaz One';
}

.navbar__list_li {
	background: rgba(var(--a-b), 1); 
	margin: 0.5em 0;
	padding: 0.5em;
	border-right: 1em solid rgba(var(--a-4), 1); 
	width: 100%;
}

.navbar__list__li_top {
	display: inline;
}

.navbar__list_li a {
	text-decoration: none;
}

.navbar__list_li_left a {
	display: block;
}

.navbar__list_li a:link, a:visited {
	color: rgba(var(--a-w), 1); 
}

.navbar__list_li a:hover{
	color: rgba(var(--a-6), 1); 
}

.navbar__list_li a:active{
	color: rgba(var(--a-7), 1); 
}


/*
The following is taken from:
https://codepen.io/designcouch/pen/Atyop

(I changed color, proportions, sizing, etc.)
*/
#nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 80%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  background-color: rgba(var(--a-w), 1);
}

#nav-icon4 span:nth-child(1) {
  top: 5px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 35px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
  left: 16px;
  /*width: 80%;*/
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 36px;
  left: 16px;
  /*width: 80%;*/
}




/* TODO: check if I need this or not */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }
}

/* TODO: use Bootstrap sizing not manual px; */
@media screen and (max-width: 767px) {
	body {
		margin: 50px 0 0 0;
	}

	#nav-placeholder {
		padding: 0 0 0 0;
	}

	.nav {
		background-color: rgba(var(--a-b), 0.75);
		height: 100vh;
	}

	.btn-bg {
		width: 100vw;
		background-color: rgba(var(--a-4), 1);
	}

	.navbar__list_li {
		background: rgba(var(--a-2), 1); 
		border-right: 2em solid rgba(var(--a-7), 1); 
	}
}

/*
	Used at the end of the page
*/
address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dashed 
}