/* Some different font imports */

@import url('https://fonts.googleapis.com/css?family=Crete Round');
@import url('https://fonts.googleapis.com/css?family=Fugaz One');



/** {
	color:black; powderblue,darkmagenta is nice
	background-color:powderblue; 
}*/
:root {
	/*powderblue,darkmagenta is nice*/

	/* Accent colors; darkest to lightest */
	--a-b: rgba(68, 69, 69, 1);
	--a-1: rgba(62, 21, 33, 1); /* Dark red */
	/* --a-2: rgba(41, 152, 158, 0.9); /* medium blue mint */
	--a-2: rgba(33, 131, 128, 1); /* turquoise */
	--a-3: rgba(28, 37, 65, 1); /* Dark Blue */
	/* --a-4: rgba(206, 171, 177, 1); /* dusty rose */
	/* --a-4: rgba(178, 201, 171, 1); /* cool green */
	--a-4: rgba(214, 104, 83, 1); /* burnt sienna */
	--a-5: rgba(201, 201, 201, 1); /* neutral grey blue */
	--a-6: rgba(197, 224, 216, 1);	/* cool mint */
	--a-7: rgba(181, 255, 233, 1); /* mint */
	--a-w: white;
}

h1 {
	font-size: 22px;
 	color: var(--a-4);
 	font-family: 'Fugaz One';
}

h2 {
	font-size: 22px;
 	color: var(--a-2);
 	font-family: 'Fugaz One';
}

body {
	/*padding-left: 11em;*/
	font-size: 16px;
	/*margin-left: 10px;*/
	color: var(--a-7); 
	background-color: var(--a-3);
	font-family: 'Crete Round';
}

/*
	Columns for different layouts
*/
.column {
	float: left;
}

.left_two-column-layout {
	width: 20%;
}

.right_two-column-layout {
	width: 80%;
}

/* Clear floats after the columns; doesn't really do much here since we stay in columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/*
	Different stylings used for content.
*/
.page_content {
	/*NOTE: currently empty but may be used for indents?*/
}

.centered-content {
  max-width: 500px;
  margin: auto;
}




/** 
	A simple bullet list with custom image. 

Previously, my inspiration was:
http://css-workshop.com/css-ul-custom-bullet-style-with-image/

But then I found unicode and nothing matters lol
*/
.simple-list {
	list-style: none;
}

.simple-list li {
	padding-left: 1em;
}

.simple-list li:before {
	content: "\26E6";
	color: var(--a-w);
	display: inline-block;
	width: 2em;
	margin-left: -1em;
}

.simple-list ul {
	margin-left: -2em;
	list-style: none;
}

.simple-list ul li:before {
	content: "\FE44";
	color: var(--a-w);
	display: inline-block;
	width: 2em;
	margin-left: -1em;
}





/*
	Navigation bar
*/
.navbar__list {
	/*width: 25%;*/
	list-style-type: none;
	padding: 1em;
	margin: 0;
	/*position:absolute;*/
	top: 2em; 
	left: 1em; 
	font-family: 'Fugaz One';
	
}

.navbar__list li {
	background: var(--a-b);
	margin: 0.5em 0;
	padding: 0.3em;
	border-right: 1em solid var(--a-4);
}

.navbar__list a {
	text-decoration: none;
	display: block;
}

.navbar__list a:link, a:visited {
	color: var(--a-w);
}

.navbar__list a:hover{
	color: var(--a-6);
}

.navbar__list a:active{
	color: var(--a-7);
}

@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }

  body {
  	font-size-adjust: 0;
  }

/*  img#navbar_img {
  	display: none;
  }

  img#navbar_small_img {
  	display: block;
  }*/
}

/*#navbar_small_img {
	display: none;
}
*/





/*
	Used at the end of the page
*/
address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dashed 
}