@import "tailwindcss";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
  font-family: "Chicken Scratch", sans-serif;
  src: url("./fonts/Chicken_Scratch/ChickenScratch-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Victor Mono", monospace;
  src: url("./fonts/Victor_Mono/VictorMono-VariableFont_wght.ttf");
  font-weight: 300 500 700;
  font-style: normal;
  font-display: swap;
  size-adjust: 80%;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-victor: "Victor Mono", monospace;
  --font-chicken: "Chicken Scratch", sans-serif;
}

@layer base {
  body,
  html {
    margin: 0rem;
    font-family: var(--font-victor);
    color: var(--color-red-950);
    background-color: white;

    @variant dark {
      background-color: black;
      color: white;
    }
  }
  body {
    min-height: 100%;
  }
  h1,
  h2,
  h3 {
    font-family: var(--font-chicken);
  }
  h1 {
    padding-top: calc(var(--spacing) * 6);
    padding-bottom: calc(var(--spacing) * 4);
    font-size: var(--text-3xl);
    color: var(--color-purple-500);
    text-align: center;
    @variant dark {
      color: var(--color-purple-300);
    }
  }
  h2 {
    padding-top: calc(var(--spacing) * 4);
    padding-bottom: calc(var(--spacing) * 3);
    font-size: var(--text-2xl);
    color: var(--color-orange-700);
    text-align: center;
    @variant dark {
      color: var(--color-orange-300);
    }
  }
  h3 {
    padding-top: calc(var(--spacing) * 3);
    padding-bottom: calc(var(--spacing) * 2);
    font-size: var(--text-xl);
    color: var(--color-fuchsia-600);
    text-align: center;
    @variant dark {
      color: var(--color-fuchsia-300);
    }
  }
  select {
    -webkit-appearance: menulist;
  }
  ::selection,
  ::-moz-selection {
    background-color: var(--color-red-700);
    color: var(--color-red-300);

    @variant dark {
      background-color: var(--color-red-300);
      color: var(--color-red-700);
    }
  }

  .text-outline-thin-black {
    -webkit-text-stroke: .25px black;
  }

  .border-default {
    border-top-right-radius: var(--radius-xl);
    border-bottom-left-radius: var(--radius-xl);
  }

  .font-smallcaps {
    font-variant: small-caps;
  }
}

@layer utilities {
  .w-0\/30 {
    width: calc(0 / 30 * 100%);
  }
  .w-1\/30 {
    width: calc(1 / 30 * 100%);
  }
  .w-2\/30 {
    width: calc(2 / 30 * 100%);
  }
  .w-3\/30 {
    width: calc(3 / 30 * 100%);
  }
  .w-4\/30 {
    width: calc(4 / 30 * 100%);
  }
  .w-5\/30 {
    width: calc(5 / 30 * 100%);
  }
  .w-6\/30 {
    width: calc(6 / 30 * 100%);
  }
  .w-7\/30 {
    width: calc(7 / 30 * 100%);
  }
  .w-8\/30 {
    width: calc(8 / 30 * 100%);
  }
  .w-9\/30 {
    width: calc(9 / 30 * 100%);
  }
  .w-10\/30 {
    width: calc(10 / 30 * 100%);
  }
  .w-11\/30 {
    width: calc(11 / 30 * 100%);
  }
  .w-12\/30 {
    width: calc(12 / 30 * 100%);
  }
  .w-13\/30 {
    width: calc(13 / 30 * 100%);
  }
  .w-14\/30 {
    width: calc(14 / 30 * 100%);
  }
  .w-15\/30 {
    width: calc(15 / 30 * 100%);
  }
  .w-16\/30 {
    width: calc(16 / 30 * 100%);
  }
  .w-17\/30 {
    width: calc(17 / 30 * 100%);
  }
  .w-18\/30 {
    width: calc(18 / 30 * 100%);
  }
  .w-19\/30 {
    width: calc(19 / 30 * 100%);
  }
  .w-20\/30 {
    width: calc(20 / 30 * 100%);
  }
  .w-21\/30 {
    width: calc(21 / 30 * 100%);
  }
  .w-22\/30 {
    width: calc(22 / 30 * 100%);
  }
  .w-23\/30 {
    width: calc(23 / 30 * 100%);
  }
  .w-24\/30 {
    width: calc(24 / 30 * 100%);
  }
  .w-25\/30 {
    width: calc(25 / 30 * 100%);
  }
  .w-26\/30 {
    width: calc(26 / 30 * 100%);
  }
  .w-27\/30 {
    width: calc(27 / 30 * 100%);
  }
  .w-28\/30 {
    width: calc(28 / 30 * 100%);
  }
  .w-29\/30 {
    width: calc(29 / 30 * 100%);
  }
}

