@font-face {
  font-family: "Chicken Scratch", "sans";
  src: url("./fonts/Chicken_Scratch/ChickenScratch-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Victor Mono", "monospace";
  src: url("./fonts/Victor_Mono/VictorMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  size-adjust: 80%;
}
