/* TODO fix these imports or figure out how they work */
/*
@import "~bootstrap-4.1.3/scss/_functions.scss";
@import "~bootstrap-4.1.3/scss/_variables.scss";
@import "~bootstrap-4.1.3/scss/mixins/_breakpoints.scss";

POTENTIAL USE:
@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2em;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4em;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6em;
  }
}
*/

/*
* {
	transition: all .85s ease;
	color:black; powderblue,darkmagenta is nice
	background-color:powderblue; 
}*/

:root {
  /*powderblue,darkmagenta,darkslategrey is nice*/

  /* 
	Accent colors.
	To use, say rgba(var(--a-[your choice]), [opacity]).
	I did the colors this way so that I could customize the opacity with ease.
	*/
  --black: 0, 0, 0;
  --a-b: 68, 69, 69; /* BAR | dark grey */
  --a-1: 62, 21, 33; /* X | Dark red */
  --a-2: 33, 131, 128; /* H2 | turquoise */
  --a-3: 28, 37, 65; /* BACKGROUND | Dark Blue */
  /* --a-4: rgba(206, 171, 177, 1); /* dusty rose */
  --a-4: 214, 104, 83; /* H1&BAR | burnt sienna */
  --a-5: 201, 201, 201; /* transparent bg color | neutral grey blue */
  --a-6: 197, 224, 216; /* HOVER | cool mint */
  --a-7: 181, 255, 233; /* ACTIVE | mint */
  --a-w: 255, 255, 255; /* TEXT | pure white */
  --a-l: 97, 155, 138; /* dark mint green */
}

body,
html {
  margin: 0;
  font-size: 1em;
  color: rgba(var(--a-w), 1);
  background-color: rgba(var(--a-3), 1);
  font-family: "Crete Round";
}

* {
  box-sizing: border-box;
}

h1 {
  margin-top: 1em;
  font-size: 1.8em;
  color: rgba(var(--a-4), 1);
  font-family: "Fugaz One";
}

h2 {
  font-size: 1.5em;
  color: rgba(var(--a-2), 1);
  font-family: "Fugaz One";
}

h3 {
  font-size: 1.4em;
  /*color: rgba(var(--a-2), 1); */
  font-family: "Fugaz One";
}

p {
  font-size: 1em;
}

div.static {
  position: static;
}

/*
	Different stylings used for content.
*/
/*.pg-content {
	overflow: scroll;
}
*/
.rel {
  position: relative;
}

.absolute {
  position: absolute;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

.flex-sticky {
  align-self: flex-start;
}

.z-1 {
  z-index: 1;
}

.z-10 {
  z-index: 10;
}

.z-11 {
  z-index: 11;
}

.my-centered {
  position: absolute;
  text-align: center;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*
 ----------------------------------------------------------------------
	Our background colors
*/
.mt-1 {
  margin-top: 1em;
}

.bg-1 {
  background: rgba(var(--a-l), 0.3);
}

.bg-3 {
  background: rgba(var(--a-3), 1);
}

.bg-4 {
  background: rgba(var(--a-4), 0.4);
}

.bg-5 {
  background: rgba(var(--a-5), 0.3);
}

.bg-6 {
  background: rgba(var(--a-6), 0.4);
}

.bg-7 {
  background: rgba(var(--a-7), 0.4);
}

.bg-black {
  background: rgba(var(--a-b), 1);
}

.bg-true-black {
  background: rgba(var(--black), 1);
}

.cool_bg {
  background: radial-gradient(ellipse at top, rgba(var(--a-1), 1), transparent),
    radial-gradient(ellipse at right, rgba(var(--a-1), 0.5), transparent);
}

.dotted-border {
  border-color: rgba(var(--a-w), 1);
  border-style: dotted;
  border-width: thick;
}

/*
-----------------------------------------------------------------------
  TEXT/FONT
*/
.justified {
  text-align: justify;
}

.text-centered {
  text-align: center;
}

.font-lg {
  font-size: large;
}

.m-auto {
  margin: auto;
}

/*
------------------------------------------------------------------------------
  FLEX
*/
.flex-center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-con {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile__wrap {
  height: 350px;
  width: 350px;
  margin: 1em;
  position: relative;
}

.tile__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  transition: padding-top 0.5s;

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  justify-content: center;
}

.tile__description_layer:hover {
  padding-top: 0.75em;
}

.img__wrap {
  height: 400px;
  margin: 10px;
  position: relative;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  visibility: hidden;
  opacity: 0;
  display: flex;
  background: rgba(var(--a-4), 0.8);
  color: rgba(var(--a-w), 1);
  margin: auto;
  transition: opacity 0.5s, visibility 0.5s;
  transition-timing-function: ease-in-out;

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  justify-content: center;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.bg-img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 50%;
  max-height: 150px;
}

/* 
 ------------------------------------------------------------------------------
  PADDING
*/
.p-1 {
  padding: 1em;
}

.p-2 {
  padding: 2em;
}

.px-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.px-5 {
  padding-left: 5em;
  padding-right: 5em;
}

.py-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

/*
 -----------------------------------------------------------------------------
	LINKS AND LIST
*/
.simple_link:link,
.simple_link:visited {
  color: rgba(var(--a-l), 1);
}

.simple_link:hover {
  color: rgba(var(--a-6), 1);
}

.simple_link:active {
  color: rgba(var(--a-7), 1);
}

/** 
	A simple bullet list with custom image. 

Previously, my inspiration was:
http://css-workshop.com/css-ul-custom-bullet-style-with-image/

But then I found unicode and nothing matters lol
*/
.simple-list {
  list-style: none;
}

.simple-list li {
  padding-left: 1em;
}

.simple-list li:before {
  content: "\2022"; /* in case browsers do not support my preferred bullet */
  content: "\26E6";
  color: rgba(var(--a-7), 1);
  display: inline-block;
  width: 2em;
  margin-left: -1em;
}

.simple-list ul {
  margin-left: -2em;
  list-style: none;
}

.simple-list ul li:before {
  content: "\25E6"; /* in case browsers do not support my preferred bullet */
  content: "\FE44";
  color: rgba(var(--a-7), 1);
  display: inline-block;
  width: 2em;
  margin-left: -1em;
}

/*
	Navigation bar
*/
.nav {
  background: rgba(var(--black), 1);
  margin-block-start: 0;
  margin-block-end: 0;
  height: calc(100vh - 48px);
}

.navbar__list {
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
  left: 1em;
  font-family: "Fugaz One";
}

.navbar__list_li {
  /* background: rgba(var(--a-b), 1); */
  background: linear-gradient(
    0.25turn,
    rgba(var(--a-b), 1) 70%,
    rgba(var(--black), 1)
  );
  margin-bottom: 0.5em;
  /* border-right: 1em solid rgba(var(--a-4), 1); */
  display: block;
  /* max-height: 24px; */
  /* padding: 1em; */
  height: 2em;
  padding: 0.25em 0.25em 0 0.5em;
}

.navbar__list_li a {
  text-decoration: none;
  animation-duration: 0.5s;
  animation-name: slidein;
  overflow: hidden;
  white-space: nowrap;
  /* padding: 0 0 0.5em; */
}

.navbar__list_li a:link,
a:visited {
  color: rgba(var(--a-w), 1);
}

.navbar__list_li a:hover {
  color: rgba(var(--a-6), 1);
}

.navbar__list_li a:active {
  color: rgba(var(--a-7), 1);
}

/*
Width and displays
*/
.max-w-full {
  max-width: 100%;
}

.display-block {
  display: block;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/4 {
  width: 25%;
}

.w-full {
  width: 100%;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.t-0 {
  top: 0;
}

.t-50 {
  top: 48px;
}

.col-2 > div {
  max-width: 50%;
}

.rounded-md {
  border-radius: 15px;
}

/*
  ---------------------------------------------------------------------------------
  ANIMATION
*/
.sec-collapsed {
  transition: max-width 0s;
  overflow: hidden;
  max-width: 0;
}

.sec-collapsed.show {
  max-width: 100%;
  transition: max-width 1s;
}

@keyframes slidein {
  from {
    margin-right: 100%;
  }
  to {
    margin-right: 0%;
  }
}

.word-carousel {
  overflow: hidden;
  padding: 0 20px 0 20px;
  font-size: 55px;
  height: 80px;
}

.word-carousel > div {
  overflow: hidden;
  position: relative;
  float: right;
}

.word-carousel > div > ul > li {
  display: block;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  text-align: center;
}

.word-flip {
  animation: word-flip 5s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes word-flip {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

/*
--------------------------------------------------------------------------------
  FUN THINGS
*/
.moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.moon.moon-h2 {
  margin-top: 50px;
  box-shadow: 20px 15px 0 0 rgba(var(--a-2), 1),
    25px 20px 10px 5px rgba(var(--a-2), 0.4);
}

.moon.moon-h1 {
  margin-top: 40px;
  box-shadow: 20px 15px 0 0 rgba(var(--a-4), 1),
    25px 20px 10px 5px rgba(var(--a-4), 0.4);
}

.shadow-2 {
  box-shadow: 0 0 10px 5px rgba(var(--a-2), 0.4);
}

.chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
  /* opacity: 50%; */
  z-index: 0;
  /* height: 60px;
  width: 200px; */
}
.chevron:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  /* background: rgba(var(--a-5), 0.4); */
  background: radial-gradient(
      ellipse at right,
      rgba(var(--a-5), 0.4),
      transparent
    ),
    radial-gradient(ellipse at left, rgba(var(--a-2), 1), transparent);
  transform: skew(0deg, 3deg);
}
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  /* background: rgba(var(--a-5), 0.4); */
  background: radial-gradient(
      ellipse at left,
      rgba(var(--a-5), 0.4),
      transparent
    ),
    radial-gradient(ellipse at right, rgba(var(--a-2), 1), transparent);
  transform: skew(0deg, -3deg);
}

/* 
-----------------------------------------------------------------------------------
  SCREEN-SPECIFIC SIZING
*/
@media screen and (min-width: 1250px) {
  .max-w-1250-px {
    background: rgba(var(--a-b), 1);
    margin: auto;
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .md\:d-none {
    display: none;
  }

  .md\:w-full {
    width: 100%;
  }

  .md\:w-1\/4 {
    width: 25%;
  }

  .md\:w-3\/4 {
    width: 75%;
  }

  .md\:d-block {
    display: block;
  }

  .max-w-md {
    max-width: 80%;
  }
  .md\:h-full {
    height: 100%;
  }
}

@media screen and (max-width: 992px) {
  .column {
    width: 100%;
  }

  .nav {
    background-color: rgba(var(--a-b), 0.75);
    width: 100%;
    height: 100%;
    padding-top: 1em;
    margin-block-start: 0;
    left: 0;
    right: 0;
    top: 48px;
    position: fixed;
    overflow: scroll;
    max-width: 100%;
    /* overscroll-behavior: contain; */
  }

  .btn-bg {
    width: 100vw;
    background-color: rgba(var(--a-4), 1);
  }

  .navbar__list_li {
    background: rgba(var(--a-2), 1);
    border-right: 2em solid rgba(var(--a-7), 1);
    max-width: 90%;
  }
}

/*
	Used at the end of the page
*/
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dashed;
}
