/*
* {
	transition: all .85s ease;
	color:black; powderblue,darkmagenta is nice
	background-color:powderblue; 
}*/

:root {
  /*powderblue,darkmagenta,darkslategrey is nice*/

  /* 
	Accent colors.
	To use, say rgba(var(--a-[your choice]), [opacity]).
	I did the colors this way so that I could customize the opacity with ease.
	*/
  --black: 0, 0, 0;
  --a-b: 68, 69, 69; /* BAR | dark grey */
  /* --a-1: 62, 21, 33; X | Dark red */
  --a-2: 33, 131, 128; /* H2 | turquoise */
  --a-3: 28, 37, 65; /* BACKGROUND | Dark Blue */
  /* --a-4: rgba(206, 171, 177, 1); /* dusty rose */
  --a-4: 214, 104, 83; /* H1&BAR | burnt sienna */
  --a-5: 201, 201, 201; /* transparent bg color | neutral grey blue */
  --a-6: 197, 224, 216; /* HOVER | cool mint */
  --a-7: 181, 255, 233; /* ACTIVE | mint */
  --a-w: 255, 255, 255; /* TEXT | pure white */
  --a-l: 97, 155, 138; /* dark mint green */
}
