@tailwind base;

@layer base {
  [data-theme="default"] {
    --tBase-50: 235 232 250;
    --tBase-100: 226 231 243;
    --tBase-200: 184 194 224;
    --tBase-300: 155 169 212;
    --tBase-400: 126 145 203;
    --tBase-500: 84 108 182;
    --tBase-600: 61 82 143;
    --tBase-700: 43 57 100;
    --tBase-800: 28 37 65;
    --tBase-900: 12 16 29;
    --tBase-950: 7 10 18;
    --tAccent1-100: 247 225 221;
    --tAccent1-200: 239 195 186;
    --tAccent1-300: 230 164 152;
    --tAccent1-400: 222 134 117;
    --tAccent1-500: 214 104 83;
    --tAccent1-600: 171 83 66;
    --tAccent1-700: 128 62 50;
    --tAccent1-800: 86 42 33;
    --tAccent1-900: 43 21 17;
    --tAccent1-pop: 255 76 41;
    --tAccent2-100: 211 230 230;
    --tAccent2-200: 166 205 204;
    --tAccent2-300: 122 181 179;
    --tAccent2-400: 77 156 153;
    --tAccent2-500: 33 131 128;
    --tAccent2-600: 26 105 102;
    --tAccent2-700: 20 79 77;
    --tAccent2-800: 13 52 51;
    --tAccent2-900: 7 26 26;
    --tAccent2-pop: 0 163 158;
    --tAccent3-100: 241 217 230;
    --tAccent3-200: 228 179 205;
    --tAccent3-300: 214 140 180;
    --tAccent3-400: 201 102 155;
    --tAccent3-500: 187 64 130;
    --tAccent3-600: 150 51 104;
    --tAccent3-700: 112 38 78;
    --tAccent3-800: 75 26 52;
    --tAccent3-900: 37 13 26;
    --tAccent3-pop: 250 0 133;
    --tAccent4-100: 220 237 232;
    --tAccent4-200: 185 218 210;
    --tAccent4-300: 150 200 187;
    --tAccent4-400: 115 181 165;
    --tAccent4-500: 80 163 142;
    --tAccent4-600: 64 130 114;
    --tAccent4-700: 48 98 85;
    --tAccent4-800: 32 65 57;
    --tAccent4-900: 16 33 28;
    --tAccent4-pop: 0 245 184;
  }
  [data-theme="rose"] {
    --tBase-50: 243 225 229;
    --tBase-100: 237 211 217;
    --tBase-200: 220 168 179;
    --tBase-300: 202 124 141;
    --tBase-400: 185 81 103;
    --tBase-500: 167 37 65;
    --tBase-600: 134 30 52;
    --tBase-700: 100 22 39;
    --tBase-800: 67 15 26;
    --tBase-900: 33 7 13;
    --tBase-950: 12 2 4;
    --tAccent1-100: 231 219 217;
    --tAccent1-200: 207 183 180;
    --tAccent1-300: 183 148 142;
    --tAccent1-400: 159 112 105;
    --tAccent1-500: 135 76 67;
    --tAccent1-600: 108 61 54;
    --tAccent1-700: 81 46 40;
    --tAccent1-800: 54 30 27;
    --tAccent1-900: 27 15 13;
    --tAccent1-pop: 218 112 95;
    --tAccent2-100: 235 232 218;
    --tAccent2-200: 216 209 182;
    --tAccent2-300: 196 185 145;
    --tAccent2-400: 177 162 109;
    --tAccent2-500: 157 139 72;
    --tAccent2-600: 126 111 58;
    --tAccent2-700: 94 83 43;
    --tAccent2-800: 63 56 29;
    --tAccent2-900: 31 28 14;
    --tAccent2-pop: 159 131 33;
    --tAccent3-100: 219 230 219;
    --tAccent3-200: 182 205 183;
    --tAccent3-300: 146 181 148;
    --tAccent3-400: 109 156 112;
    --tAccent3-500: 73 131 76;
    --tAccent3-600: 58 105 61;
    --tAccent3-700: 44 79 46;
    --tAccent3-800: 29 52 30;
    --tAccent3-900: 15 26 15;
    --tAccent3-pop: 95 172 99;
    --tAccent4-100: 222 234 209;
    --tAccent4-200: 189 213 163;
    --tAccent4-300: 157 191 117;
    --tAccent4-400: 124 170 71;
    --tAccent4-500: 91 149 25;
    --tAccent4-600: 73 119 20;
    --tAccent4-700: 55 89 15;
    --tAccent4-800: 36 60 10;
    --tAccent4-900: 18 30 5;
    --tAccent4-pop: 101 187 2;
  }
  [data-theme="pride"] {
    --tBase-50: 228 230 255;
    --tBase-100: 209 213 243;
    --tBase-200: 164 171 230;
    --tBase-300: 118 128 218;
    --tBase-400: 73 86 205;
    --tBase-500: 27 44 193;
    --tBase-600: 22 35 154;
    --tBase-700: 16 26 116;
    --tBase-800: 11 18 77;
    --tBase-900: 5 9 39;
    --tBase-950: 1 2 12;
    --tAccent1-100: 224 209 232;
    --tAccent1-200: 193 162 209;
    --tAccent1-300: 161 116 186;
    --tAccent1-400: 130 69 163;
    --tAccent1-500: 99 23 140;
    --tAccent1-600: 79 18 112;
    --tAccent1-700: 59 14 84;
    --tAccent1-800: 40 9 56;
    --tAccent1-900: 20 5 28;
    --tAccent1-pop: 143 13 213;
    --tAccent2-100: 243 208 226;
    --tAccent2-200: 231 162 197;
    --tAccent2-300: 218 115 169;
    --tAccent2-400: 206 69 140;
    --tAccent2-500: 194 22 111;
    --tAccent2-600: 155 18 89;
    --tAccent2-700: 116 13 67;
    --tAccent2-800: 78 9 44;
    --tAccent2-900: 39 4 22;
    --tAccent2-pop: 228 6 121;
    --tAccent3-100: 219 233 239;
    --tAccent3-200: 183 212 224;
    --tAccent3-300: 147 190 208;
    --tAccent3-400: 111 169 193;
    --tAccent3-500: 75 147 177;
    --tAccent3-600: 60 118 142;
    --tAccent3-700: 45 88 106;
    --tAccent3-800: 30 59 71;
    --tAccent3-900: 15 29 35;
    --tAccent3-pop: 50 162 209;
    --tAccent4-100: 246 233 237;
    --tAccent4-200: 237 211 219;
    --tAccent4-300: 227 189 201;
    --tAccent4-400: 218 167 183;
    --tAccent4-500: 209 145 165;
    --tAccent4-600: 167 116 132;
    --tAccent4-700: 125 87 99;
    --tAccent4-800: 84 58 66;
    --tAccent4-900: 42 29 33;
    --tAccent4-pop: 245 124 179;
  }
  [data-theme="pickle"] {
    --tBase-50: 244 245 245;
    --tBase-100: 232 233 232;
    --tBase-200: 208 212 210;
    --tBase-300: 185 190 187;
    --tBase-400: 161 169 165;
    --tBase-500: 138 147 142;
    --tBase-600: 110 118 114;
    --tBase-700: 83 88 85;
    --tBase-800: 55 59 57;
    --tBase-900: 28 29 28;
    --tBase-950: 10 11 10;
    --tAccent1-100: 236 239 226;
    --tAccent1-200: 218 223 197;
    --tAccent1-300: 199 207 168;
    --tAccent1-400: 181 191 139;
    --tAccent1-500: 162 175 110;
    --tAccent1-600: 130 140 88;
    --tAccent1-700: 97 105 66;
    --tAccent1-800: 65 70 44;
    --tAccent1-900: 32 35 22;
    --tAccent1-pop: 157 182 57;
    --tAccent2-100: 246 245 219;
    --tAccent2-200: 237 235 184;
    --tAccent2-300: 227 225 148;
    --tAccent2-400: 218 215 113;
    --tAccent2-500: 209 205 77;
    --tAccent2-600: 167 164 62;
    --tAccent2-700: 125 123 46;
    --tAccent2-800: 84 82 31;
    --tAccent2-900: 42 41 15;
    --tAccent2-pop: 216 211 48;
    --tAccent3-100: 225 233 236;
    --tAccent3-200: 194 211 218;
    --tAccent3-300: 164 188 199;
    --tAccent3-400: 133 166 181;
    --tAccent3-500: 103 144 162;
    --tAccent3-600: 82 115 130;
    --tAccent3-700: 62 86 97;
    --tAccent3-800: 41 58 65;
    --tAccent3-900: 21 29 32;
    --tAccent3-pop: 80 161 196;
    --tAccent4-100: 248 225 221;
    --tAccent4-200: 241 195 187;
    --tAccent4-300: 234 164 154;
    --tAccent4-400: 227 134 120;
    --tAccent4-500: 220 104 86;
    --tAccent4-600: 176 83 69;
    --tAccent4-700: 132 62 52;
    --tAccent4-800: 88 42 34;
    --tAccent4-900: 44 21 17;
    --tAccent4-pop: 235 99 78;
  }
}
